@font-face {
    font-family: myFont;
    src: local(Pixel-Miners.otf);
    src: url(./fonts/Pixel-Miners.otf);
}

*{
  margin: 0;
  padding: 0;
  font-family: myFont;
}
body {
  text-align: center;
  background-color: black;
  font-size: 30px;
  color: white;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 30px;
  background-color: yellow;
  color: balck;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
#canvas-fb{
  border: 2px solid black;
}
.container{
  display: flex;
  flex-direction: row;
}
.screen{
  display: flex;
  flex-direction: column;
}
#div-points{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.span-div{
  margin-left: 30px;
}
#logo-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#logo{
  width: 60%
}
